In [13]:
import matplotlib.pyplot as plt
import pandas as pd
import os,glob
import warnings
import numpy as np
import seaborn
from numpy import linalg as L
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from impyute.imputation.cs import mice

In [2]:
data = pd.read_csv("测试异常值.csv", encoding="gbk")

In [3]:
data

        time  area       二产用电量      全社会用电量    一产用电量
0   20190401  杭州市区  28286922.0  53564762.0  12019.0
1   20190402  杭州市区  28501960.0  53628989.0  14025.0
2   20190403  杭州市区  28468456.0  53270758.0  14244.0
3   20190404  杭州市区  23653346.0  48242787.0  16126.0
4   20190405  杭州市区  24850084.0  46256790.0   9751.0
5   20190406  杭州市区  25046528.0  46245993.0   9715.0
6   20190407  杭州市区  25045151.0  46609235.0  10822.0
7   20190408  杭州市区  24011726.0  48138421.0  11369.0
8   20190409  杭州市区         NaN  48405854.0  11936.0
9   20190410  杭州市区  24082199.0  47586488.0  12562.0
10  20190411  杭州市区  21417707.0  45689416.0  14367.0
11  20190412  杭州市区  23432600.0  47310453.0  13642.0
12  20190413  杭州市区  24879152.0  46862905.0  11023.0
13  20190414  杭州市区  24267326.0  45677046.0      NaN
14  20190415  杭州市区  23671769.0  46880476.0  11928.0
15  20190416  杭州市区  21189837.0  44619840.0  12010.0
16  20190417  杭州市区  24292569.0  48081852.0  12354.0
17  20190418  杭州市区  24634328.0  49161133.0  12116.0
18  20190419  杭州市区  25689061.0         NaN  11740.0
19  20190420  杭州市区  25491115.0  49139508.0  10149.0
20  20190421  杭州市区  24975370.0  48404592.0  10183.0
21  20190422  杭州市区  25634624.0  50855207.0  10283.0
22  20190423  杭州市区  26411535.0  52820850.0  10722.0
23  20190424  杭州市区  26499063.0  53375752.0  11887.0
24  20190425  杭州市区  26348117.0  52989848.0  11938.0
25  20190426  杭州市区  25923094.0  50756139.0  12010.0
26  20190427  杭州市区  25417960.0  47885118.0  11474.0
27  20190428  杭州市区  25577878.0  49376398.0  11927.0
28  20190429  杭州市区  25562207.0  49698091.0  12176.0
29  20190430  杭州市区  25338040.0  49496269.0  12576.0

In [4]:
data=data.drop('time',1)
data=data.drop('area',1)

## 均值, 重数, 中位数填补

In [5]:
#均值
def mean_interpolate(df):
    df_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
    df = df_mean.fit_transform(df)
    return df

#中位数
def median_interpolate(df):
    df_median = SimpleImputer(missing_values=np.nan, strategy='median')
    df = df_median.fit_transform(df)
    return df

#重数
def most_frequent_interpolate(df):
    df_most_frequen = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
    df = df_most_frequent.fit_transform(df)
    return df

In [6]:
pd.DataFrame(median_interpolate(data).round(0))

             0           1        2
0   28286922.0  53564762.0  12019.0
1   28501960.0  53628989.0  14025.0
2   28468456.0  53270758.0  14244.0
3   23653346.0  48242787.0  16126.0
4   24850084.0  46256790.0   9751.0
5   25046528.0  46245993.0   9715.0
6   25045151.0  46609235.0  10822.0
7   24011726.0  48138421.0  11369.0
8   25046528.0  48405854.0  11936.0
9   24082199.0  47586488.0  12562.0
10  21417707.0  45689416.0  14367.0
11  23432600.0  47310453.0  13642.0
12  24879152.0  46862905.0  11023.0
13  24267326.0  45677046.0  11936.0
14  23671769.0  46880476.0  11928.0
15  21189837.0  44619840.0  12010.0
16  24292569.0  48081852.0  12354.0
17  24634328.0  49161133.0  12116.0
18  25689061.0  48404592.0  11740.0
19  25491115.0  49139508.0  10149.0
20  24975370.0  48404592.0  10183.0
21  25634624.0  50855207.0  10283.0
22  26411535.0  52820850.0  10722.0
23  26499063.0  53375752.0  11887.0
24  26348117.0  52989848.0  11938.0
25  25923094.0  50756139.0  12010.0
26  25417960.0  47885118.0  11474.0
27  25577878.0  49376398.0  11927.0
28  25562207.0  49698091.0  12176.0
29  25338040.0  49496269.0  12576.0

## KNN填补

In [7]:
def knn_interpolate(df):
    imputer = KNNImputer(n_neighbors=4) 
    df = imputer.fit_transform(df) 
    return df

In [8]:
pd.DataFrame(knn_interpolate(data).round(0))

             0           1        2
0   28286922.0  53564762.0  12019.0
1   28501960.0  53628989.0  14025.0
2   28468456.0  53270758.0  14244.0
3   23653346.0  48242787.0  16126.0
4   24850084.0  46256790.0   9751.0
5   25046528.0  46245993.0   9715.0
6   25045151.0  46609235.0  10822.0
7   24011726.0  48138421.0  11369.0
8   24582376.0  48405854.0  11936.0
9   24082199.0  47586488.0  12562.0
10  21417707.0  45689416.0  14367.0
11  23432600.0  47310453.0  13642.0
12  24879152.0  46862905.0  11023.0
13  24267326.0  45677046.0  10328.0
14  23671769.0  46880476.0  11928.0
15  21189837.0  44619840.0  12010.0
16  24292569.0  48081852.0  12354.0
17  24634328.0  49161133.0  12116.0
18  25689061.0  49583888.0  11740.0
19  25491115.0  49139508.0  10149.0
20  24975370.0  48404592.0  10183.0
21  25634624.0  50855207.0  10283.0
22  26411535.0  52820850.0  10722.0
23  26499063.0  53375752.0  11887.0
24  26348117.0  52989848.0  11938.0
25  25923094.0  50756139.0  12010.0
26  25417960.0  47885118.0  11474.0
27  25577878.0  49376398.0  11927.0
28  25562207.0  49698091.0  12176.0
29  25338040.0  49496269.0  12576.0

## 多重插补

In [15]:
def iter_interpolate(df):
    df = mice(df.values)
    return df

In [16]:
pd.DataFrame(iter_interpolate(data).round(0))

             0           1        2
0   28286922.0  53564762.0  12019.0
1   28501960.0  53628989.0  14025.0
2   28468456.0  53270758.0  14244.0
3   23653346.0  48242787.0  16126.0
4   24850084.0  46256790.0   9751.0
5   25046528.0  46245993.0   9715.0
6   25045151.0  46609235.0  10822.0
7   24011726.0  48138421.0  11369.0
8   24772263.0  48405854.0  11936.0
9   24082199.0  47586488.0  12562.0
10  21417707.0  45689416.0  14367.0
11  23432600.0  47310453.0  13642.0
12  24879152.0  46862905.0  11023.0
13  24267326.0  45677046.0  10952.0
14  23671769.0  46880476.0  11928.0
15  21189837.0  44619840.0  12010.0
16  24292569.0  48081852.0  12354.0
17  24634328.0  49161133.0  12116.0
18  25689061.0  49728969.0  11740.0
19  25491115.0  49139508.0  10149.0
20  24975370.0  48404592.0  10183.0
21  25634624.0  50855207.0  10283.0
22  26411535.0  52820850.0  10722.0
23  26499063.0  53375752.0  11887.0
24  26348117.0  52989848.0  11938.0
25  25923094.0  50756139.0  12010.0
26  25417960.0  47885118.0  11474.0
27  25577878.0  49376398.0  11927.0
28  25562207.0  49698091.0  12176.0
29  25338040.0  49496269.0  12576.0